.headerWrapper {
     margin-top: 20px;
}
.userDetailWrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     padding: 12px;
}
