.cardWrapper {
  height: 100vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #05153a8c;
}
.cardContainer {
  height: 450px;
  width: 500px;
  border-radius: 5%;
}
