.sidebarWrapper {
     height: 100%;
     padding-block: 51px;
}
.menu {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 12px 24px;
     gap: 16px;
     /* width: 240px; */
     height: 48px;
     background: #fffcfb;
     margin-bottom: 10px;
}
.menu:hover {
     background: #f33823;
     border-radius: 5px;
     color: white !important;
     cursor: pointer;
}
.menuActive{
      background: #f33823;
     border-radius: 5px;
     color: white !important;
}
.menuIcon {
     height: 24px;
     width: 24px;
}
.menuText {
     font-family: "IBM Plex Sans";
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 21px;
}
