html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.form-control:focus {
  border-color: #f33823 !important;
  box-shadow: none !important;
}
.form-select:focus {
  border-color: #f33823 !important;
  box-shadow: none !important;
}
select:focus > option:checked  {
  background-color: #f33823 !important;
}
