.tableHeader {
     background: #f33823;
     color: white;
}
.tableBody {
     --bs-table-striped-bg: rgb(255 0 0 / 8%);
}
.editHeader {
     width: 20%;
     text-align: center;
}
.redIcon {
     color: #f33823 !important;
     text-align: center;
}
.actionIcon {
     border-radius: 50%;
     padding: 5px;
     height: 25px;
     width: 25px;
}
.actionIcon:hover {
     background: #e3cbcb;
     cursor: pointer;
}

.iconMargin {
     margin-inline: 2.5rem !important;
}
